*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
   
    text-align: center;
    box-shadow: 0 0 5px black;
    th{
        background-color:aquamarine;
    }
    
    tr,th,td{
        border: 1px solid black;
        padding:10px;
    }
}

